name: build

on:
  push:
  pull_request:

jobs:
  linux:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install system deps
      run: |
        sudo apt update
        sudo apt install -y \
          build-essential \
          ninja-build \
          cmake \
          pkg-config \
          python3-dev \
          python3-pip
        which ninja
        which g++

    - name: Install vcpkg
      run: |
        git clone https://github.com/microsoft/vcpkg.git
        ./vcpkg/bootstrap-vcpkg.sh
        echo "VCPKG_ROOT=$PWD/vcpkg" >> $GITHUB_ENV

    - name: Configure
      run: cmake --preset release

    - name: Build
      run: cmake --build build/release
