name: build

on:
  push:
  pull_request:

jobs:
  linux:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install system deps
      run: |
        sudo apt update
        sudo apt install -y cmake ninja-build python3-dev python3-pip

    - name: Install vcpkg
      run: |
        git clone https://github.com/microsoft/vcpkg.git
        echo "VCPKG_ROOT=$PWD/vcpkg" >> $GITHUB_ENV

    - name: Configure
      run: cmake --preset release

    - name: Build
      run: cmake --build build/release
